@use '#sass/_colors.module.scss' as colors;

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  & > p,
  & > h2 {
    width: 100%;
    max-width: 100%;
  }

  & > .profilePicture {
    width: 108px;
    height: 108px;
    margin-bottom: 24px;
    object-fit: cover;
    border-radius: 50vh;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
  }

  & > .name {
    margin-bottom: 12px;
    font-size: 22px;
    font-weight: 600;
  }

  :root[data-theme='system'] & {
    @media (prefers-color-scheme: light) {
      & {
        background: rgba(colors.$base-color-dark, .03);
      }
    }

    @media (prefers-color-scheme: dark) {
      & {
        background: rgba(colors.$base-color-light, .03);
      }
    }
  }

  :root[data-theme='light'] & {
    background: rgba(colors.$base-color-dark, .03);
  }

  :root[data-theme='dark'] & {
    background: rgba(colors.$base-color-light, .03);
  }

  @media (min-width: 768px) {
    & {
      width: 400px;
    }
  }
}
