@use '#sass/_colors.module.scss' as colors;

.mainWrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  width: 100%;

  @media (min-width: 768px) {
    & {
      flex-direction: row;
    }
  }
}

.newHabit {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 0;

  label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    span {
      user-select: none;
      -webkit-user-drag: none;
    }
  }

  input, button, select, textarea {
    height: 40px;
    padding: 4px 20px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
  }

  textarea {
    max-height: 256px;
    resize: vertical;
  }

  input:not([type='file']), select, textarea {
    :root[data-theme='system'] & {
      @media (prefers-color-scheme: light) {
        & {
          background: rgba(colors.$logotype-color-dark, .1);
        }
      }

      @media (prefers-color-scheme: dark) {
        & {
          background: rgba(colors.$logotype-color-light, .1);
        }
      }
    }

    :root[data-theme='light'] & {
      background: rgba(colors.$logotype-color-dark, .1);
    }

    :root[data-theme='dark'] & {
      background: rgba(colors.$logotype-color-light, .1);
    }
  }

  button {
    cursor: pointer;

    :root[data-theme='system'] & {
      @media (prefers-color-scheme: light) {
        & {
          background: rgba(colors.$logotype-color-dark, .3);
        }
      }

      @media (prefers-color-scheme: dark) {
        & {
          background: rgba(colors.$logotype-color-light, .3);
        }
      }
    }

    :root[data-theme='light'] & {
      background: rgba(colors.$logotype-color-dark, .15);
    }

    :root[data-theme='dark'] & {
      background: rgba(colors.$logotype-color-light, .15);
    }
  }

  @media (min-width: 768px) {
    & {
      width: 400px;
    }
  }
}

.habit {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  padding: 24px;
  border-radius: 24px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  button {
    height: 40px;
    padding: 4px 20px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    cursor: pointer;

    :root[data-theme='system'] & {
      @media (prefers-color-scheme: light) {
        & {
          background: rgba(colors.$base-color-dark, .1);
        }
      }

      @media (prefers-color-scheme: dark) {
        & {
          background: rgba(colors.$base-color-light, .1);
        }
      }
    }

    :root[data-theme='light'] & {
      background: rgba(colors.$base-color-dark, .1);
    }

    :root[data-theme='dark'] & {
      background: rgba(colors.$base-color-light, .1);
    }
  }

  :root[data-theme='system'] & {
    @media (prefers-color-scheme: light) {
      & {
        background: rgba(colors.$base-color-dark, .05);
      }
    }

    @media (prefers-color-scheme: dark) {
      & {
        background: rgba(colors.$base-color-light, .05);
      }
    }
  }

  :root[data-theme='light'] & {
    background: rgba(colors.$base-color-dark, .05);
  }

  :root[data-theme='dark'] & {
    background: rgba(colors.$base-color-light, .05);
  }
}

.workspace {
  flex: 1;

  .brief {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.extra {
  width: 100%;
  height: 280px;
  border-radius: 12px;

  :root[data-theme='system'] & {
    @media (prefers-color-scheme: light) {
      & {
        background: rgba(colors.$base-color-dark, .06);
      }
    }

    @media (prefers-color-scheme: dark) {
      & {
        background: rgba(colors.$base-color-light, .06);
      }
    }
  }

  :root[data-theme='light'] & {
    background: rgba(colors.$base-color-dark, .06);
  }

  :root[data-theme='dark'] & {
    background: rgba(colors.$base-color-light, .06);
  }

  @media (min-width: 768px) {
    & {
      width: 360px;
    }
  }
}
