@use '#sass/_colors.module.scss' as colors;

.mainWrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 32px;
  width: 100%;

  @media (min-width: 768px) {
    & {
      flex-direction: row;
    }
  }
}

.newHabit {
  display: flex;
  flex-direction: column;
  gap: 12px;

  & > label {
    width: 100%;
  }

  @media (min-width: 768px) {
    & {
      width: 400px;
    }
  }
}

.workspace {
  flex: 1;

  .brief {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.extra {
  width: 100%;
  height: 280px;
  border-radius: 12px;

  :root[data-theme='system'] & {
    @media (prefers-color-scheme: light) {
      & {
        background: rgba(colors.$base-color-dark, .06);
      }
    }

    @media (prefers-color-scheme: dark) {
      & {
        background: rgba(colors.$base-color-light, .06);
      }
    }
  }

  :root[data-theme='light'] & {
    background: rgba(colors.$base-color-dark, .06);
  }

  :root[data-theme='dark'] & {
    background: rgba(colors.$base-color-light, .06);
  }

  @media (min-width: 768px) {
    & {
      width: 360px;
    }
  }
}
