@use '#sass/_colors.module.scss' as colors;

.logotype {
  width: 150px;
  height: min-content;
  user-select: none;
  -webkit-user-drag: none;

  @media (prefers-color-scheme: light) {
    & * {
      fill: colors.$logotype-color-dark;
    }
  }

  @media (prefers-color-scheme: dark) {
    & * {
      fill: colors.$logotype-color-light;
    }
  }
}

.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  backdrop-filter: blur(24px);

  & > header {
    display: none;

    @media (min-width: 768px) {
      & {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
        padding: 0 32px;
        user-select: none;
        -webkit-user-drag: none;
      }
    }
  }

  & > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      user-select: none;
      -webkit-user-drag: none;
      z-index: 10;
      opacity: .6;
      transition: 200ms opacity ease;

      &.active {
        gap: 8px;
        opacity: 1;

        & > span {
          height: 15px;

          @media (min-width: 768px) {
            & {
              height: auto;
              transform: translateX(2px);
            }
          }
        }

        @media (min-width: 768px) {
          & {
            gap: 12px;
          }
        }
      }

      & > span {
        overflow: hidden;
        height: 0;
        transition:
          200ms height ease,
          200ms transform ease;

        @media (min-width: 768px) {
          & {
            overflow: visible;
            height: auto;
          }
        }
      }

      @media (prefers-color-scheme: light) {
        & {
          color: colors.$base-color-dark;
        }
      }

      @media (prefers-color-scheme: dark) {
        & {
          color: colors.$base-color-light;
        }
      }

      @media (min-width: 768px) {
        & {
          flex-direction: row;
          justify-content: start;
          gap: 12px;
          height: 48px;
          padding: 0 32px;
        }
      }
    }

    @media (min-width: 768px) {
      & {
        position: relative;
        flex-direction: column;
        height: auto;
      }

      &::before {
        position: absolute;
        top: calc(var(--position, 0px) + 2px);
        left: 12px;
        width: calc(100% - 12px*2);
        height: calc(48px - 2px*2);
        border-radius: 12px;
        opacity: calc(var(--navIndicatorOpacity, .05));
        content: '';
        transition:
          200ms top ease,
          200ms opacity ease;

        @media (prefers-color-scheme: light) {
          & {
            background: colors.$base-color-dark;
          }
        }

        @media (prefers-color-scheme: dark) {
          & {
            background: colors.$base-color-light;
          }
        }
      }
    }
  }

  @media (prefers-color-scheme: light) {
    & {
      background: rgba(colors.$base-color-light, .8);
      border-top: 1px solid rgba(colors.$base-color-dark, .05);
    }
  }

  @media (prefers-color-scheme: dark) {
    & {
      background: rgba(colors.$base-color-dark, .8);
      border-top: 1px solid rgba(colors.$base-color-light, .05);
    }
  }

  @media (min-width: 768px) {
    & {
      position: static;
      width: 240px;
      height: 100%;
      border: none;
    }
  }
}
