@use '#sass/_colors.module.scss' as colors;

.profileSettings {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin: auto;

  label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    span {
      user-select: none;
      -webkit-user-drag: none;
    }
  }

  input, button {
    height: 40px;
    padding: 4px 20px;
    border: none;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
    outline: none;
  }

  input:not([type='file']) {
    :root[data-theme='system'] & {
      @media (prefers-color-scheme: light) {
        & {
          background: rgba(colors.$logotype-color-dark, .1);
        }
      }

      @media (prefers-color-scheme: dark) {
        & {
          background: rgba(colors.$logotype-color-light, .1);
        }
      }
    }

    :root[data-theme='light'] & {
      background: rgba(colors.$logotype-color-dark, .1);
    }

    :root[data-theme='dark'] & {
      background: rgba(colors.$logotype-color-light, .1);
    }
  }

  button {
    cursor: pointer;

    :root[data-theme='system'] & {
      @media (prefers-color-scheme: light) {
        & {
          background: rgba(colors.$logotype-color-dark, .3);
        }
      }

      @media (prefers-color-scheme: dark) {
        & {
          background: rgba(colors.$logotype-color-light, .3);
        }
      }
    }

    :root[data-theme='light'] & {
      background: rgba(colors.$logotype-color-dark, .15);
    }

    :root[data-theme='dark'] & {
      background: rgba(colors.$logotype-color-light, .15);
    }
  }

  .castProfilePicture {
    width: 256px;
    height: 256px;
    margin: 0 auto;
    border-radius: 16px;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
  }

  @media (min-width: 768px) {
    & {
      width: 400px;
    }
  }
}
