.profileSettings {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin: auto;

  & > label {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .castProfilePicture {
    width: 256px;
    height: 256px;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
  }

  @media (min-width: 768px) {
    & {
      width: 400px;
    }
  }
}
