@use '#sass/_colors.module.scss' as colors;

.logotype {
  width: 320px;
  height: min-content;
  user-select: none;
  -webkit-user-drag: none;

  :root[data-theme='system'] & {
    @media (prefers-color-scheme: light) {
      & * {
        fill: colors.$logotype-color-dark;
      }
    }

    @media (prefers-color-scheme: dark) {
      & * {
        fill: colors.$logotype-color-light;
      }
    }
  }

  :root[data-theme='light'] & * {
    fill: colors.$logotype-color-dark;
  }

  :root[data-theme='dark'] & * {
    fill: colors.$logotype-color-light;
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  width: min-content;
  height: min-content;
  margin: auto;

  & > .method {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 0;
  }

  h2 {
    font-size: large;
    text-align: center;
  }

  hr {
    width: 100%;
  }
}
