@use '#sass/_colors.module.scss' as colors;

.logotype {
  width: 320px;
  height: min-content;
  user-select: none;
  -webkit-user-drag: none;

  :root[data-theme='system'] & {
    @media (prefers-color-scheme: light) {
      & * {
        fill: colors.$logotype-color-dark;
      }
    }

    @media (prefers-color-scheme: dark) {
      & * {
        fill: colors.$logotype-color-light;
      }
    }
  }

  :root[data-theme='light'] & * {
    fill: colors.$logotype-color-dark;
  }

  :root[data-theme='dark'] & * {
    fill: colors.$logotype-color-light;
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  width: min-content;
  height: min-content;
  margin: auto;

  & > .method {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px 0;

    label {
      display: flex;
      flex-direction: column;
      gap: 4px;

      span {
        user-select: none;
        -webkit-user-drag: none;
      }
    }

    input, button {
      height: 40px;
      padding: 4px 20px;
      border: none;
      border-radius: 12px;
      font-size: 15px;
      font-weight: 500;
      outline: none;
    }

    input {
      :root[data-theme='system'] & {
        @media (prefers-color-scheme: light) {
          & {
            background: rgba(colors.$base-color-dark, .1);
          }
        }

        @media (prefers-color-scheme: dark) {
          & {
            background: rgba(colors.$base-color-light, .1);
          }
        }
      }

      :root[data-theme='light'] & {
        background: rgba(colors.$base-color-dark, .1);
      }

      :root[data-theme='dark'] & {
        background: rgba(colors.$base-color-light, .1);
      }
    }

    button {
      cursor: pointer;

      :root[data-theme='system'] & {
        @media (prefers-color-scheme: light) {
          & {
            background: rgba(colors.$base-color-dark, .3);
          }
        }

        @media (prefers-color-scheme: dark) {
          & {
            background: rgba(colors.$base-color-light, .3);
          }
        }
      }

      :root[data-theme='light'] & {
        background: rgba(colors.$base-color-dark, .15);
      }

      :root[data-theme='dark'] & {
        background: rgba(colors.$base-color-light, .15);
      }
    }
  }

  h2 {
    font-size: large;
    text-align: center;
  }

  hr {
    width: 100%;
  }
}
